<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="st1" class="org.example.Student">
        <property name="age" value="30"></property>
        <property name="roln" value="55"></property>
        <property name="pen" ref="p1"></property>
    </bean>
    <bean id="st2" class="org.example.Student">
        <property name="age" value="54"></property>
        <property name="roln" value="36"></property>
        <property name="pen" ref="p1"></property>
    </bean>
    <bean id="p1" class="org.example.Pen"></bean>

</beans>

